<div class="events-section">
 <div class="container">
  <h1 class="events-title">
   Explore Our Upcoming Workshop Schedule
  </h1>
  <p class="events-descr">
   Join us for immersive plein air drawing workshops. Experience nature while honing your artistic skills.
  </p>
  <ul class="events-list">
   <li class="events-list-item">
    <img src="./images/events/event-1.jpg" alt="Morning Light Sketching event" class="events-list-item-img"
     srcset="./images/events/event-1.jpg 1x, ./images/events/event-1@2x.jpg 2x" width="311" height="225">
    <div class="events-item-location">
     <svg class="events-item-pin-icon" width="16" height="20">
      <use href="./imagaes/icons/location.svg"></use>
     </svg>
     <a href="#" class="events-item-place">Central Park Meadow</a>
     <p class="events-item-time">09 Jun 8:00 am</p>
    </div>
    <h2 class="events-item-title">Morning Light Sketching</h2>
    <a href="#" class="events-item-register">Register</a>
   </li>
   <li class="events-list-item">
    <img src="./images/events/event-2.jpg" alt="Floral Focus: Painting Wildflowers event" class="events-list-item-img"
     srcset="./images/events/event-2.jpg 1x, ./images/events/event-2@2x.jpg 2x" width="311" height="225">
    <div class="events-item-location">
     <svg class="events-item-pin-icon" width="16" height="20">
      <use href="./imagaes/icons/location.svg"></use>
     </svg>
     <a href="#" class="events-item-place">Riverside Botanical Trail</a>
     <p class="events-item-time">10 Jun 5:00 pm</p>
    </div>
    <h2 class="events-item-title">Floral Focus: Painting Wildflowers</h2>
    <a href="#" class="events-item-register">Register</a>
   </li>
   <li class="events-list-item">
    <img src="./images/events/event-3.jpg" alt="Color & Composition Basics event" class="events-list-item-img"
     srcset="./images/events/event-3.jpg 1x, ./images/events/event-3@2x.jpg 2x" width="311" height="225">
    <div class="events-item-location">
     <svg class="events-item-pin-icon" width="16" height="20">
      <use href="./imagaes/icons/location.svg"></use>
     </svg>
     <a href="#" class="events-item-place">Forest Edge Retreat</a>
     <p class="events-item-time">11 Jun 7:00 pm</p>
    </div>
    <h2 class="events-item-title">Color & Composition Basics</h2>
    <a href="#" class="events-item-register">Register</a>
   </li>
   <li class="events-list-item">
    <img src="./images/events/event-4.jpg" alt="Drawing Stillness: Meditative Sketching event"
     class="events-list-item-img" srcset="./images/events/event-4.jpg 1x, ./images/events/event-4@2x.jpg 2x" width="311"
     height="225">
    <div class="events-item-location">
     <svg class="events-item-pin-icon" width="16" height="20">
      <use href="./imagaes/icons/location.svg"></use>
     </svg>
     <a href="#" class="events-item-place">Willow Grove Field</a>
     <p class="events-item-time">14 Jun 8:00 pm</p>
    </div>
    <h2 class="events-item-title">Drawing Stillness: Meditative Sketching</h2>
    <a href="#" class="events-item-register">Register</a>
   </li>
   <li class="events-list-item">
    <img src="./images/events/event-5.jpg" alt="Golden Hour Landscape Study event" class="events-list-item-img"
     srcset="./images/events/event-5.jpg 1x, ./images/events/event-5@2x.jpg 2x" width="311" height="225">
    <div class="events-item-location">
     <svg class="events-item-pin-icon" width="16" height="20">
      <use href="./imagaes/icons/location.svg"></use>
     </svg>
     <a href="#" class="events-item-place">Sunset Ridge Hilltop</a>
     <p class="events-item-time">15 Jun 8:00 pm</p>
    </div>
    <h2 class="events-item-title">Golden Hour Landscape Study</h2>
    <a href="#" class="events-item-register">Register</a>
   </li>
  </ul>
 </div>
</div>