<section id="benefits" class="benefits">
  <div class="container">
    <div class="benefits-text">
      <h2 class="section-title benefits-title">
        Reconnect with yourself through the art of outdoor drawing
      </h2>
      <ul class="benefits-list">
        <li class="benefits-list-item">
          <svg class="benefits-svg" width="48" height="48">
            <use href="/sprite.svg#icon-stress"></use>
          </svg>
          <div class="benefits-list-text">
            <h3 class="benefits-list-title">Relieves stress and anxiety</h3>
            <p class="benefits-list-description">
              Drawing in nature helps you unwind, clear your mind, and escape
              daily worries in a peaceful setting.
            </p>
          </div>
        </li>
        <li class="benefits-list-item">
          <svg class="benefits-svg" width="48" height="48">
            <use href="/sprite.svg#icon-creativity"></use>
          </svg>
          <div class="benefits-list-text">
            <h3 class="benefits-list-title">Sparks creativity</h3>
            <p class="benefits-list-description">
              Whether you’re a beginner or experienced, plein air drawing
              encourages creative thinking and helps you see beauty in the
              details.
            </p>
          </div>
        </li>
        <li class="benefits-list-item">
          <svg class="benefits-svg" width="48" height="48">
            <use href="/sprite.svg#icon-nature"></use>
          </svg>
          <div class="benefits-list-text">
            <h3 class="benefits-list-title">Quality time in nature</h3>
            <p class="benefits-list-description">
              Plein air sessions combine fresh air, gentle movement, and mindful
              observation — a perfect blend of rest and inspiration.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <img
      class="benefits-img"
      src="/images/benefits/benefits.png"
      srcset="
        /images/benefits/benefits.png    1x,
        /images/benefits/benefits@2x.png 2x
      "
      alt="benefits-img"
      width="335"
      height="317"
    />
  </div>
</section>
