<section id="events" class="events-section">
 <div class="container">
  <h2 class="events-title">
   Explore Our Upcoming Workshop Schedule
  </h2>
  <p class="events-descr">
   Join us for immersive plein air drawing workshops. Experience nature while honing your artistic skills.
  </p>
  <ul class="events-list">
   <li class="events-list-item">
    <img src="./images/events/event-1.jpg" alt="Morning Light Sketching event" class="events-list-item-img"
     srcset="./images/events/event-1.jpg 1x, ./images/events/event-1@2x.jpg 2x" width="311" height="225">
    <div class="event-location-wrapper">
     <div class="events-item-location">
      <svg class="events-item-pin-icon" width="16" height="20">
       <use href="sprite.svg#icon-location"></use>
      </svg>
      <a
       href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
       target="_blank" rel="noopener noreferrer" class="events-item-place">Central Park Meadow</a>
     </div>
     <p class="events-item-time">09 Jun 8:00 am</p>
    </div>
    <h3 class="events-item-title">Morning Light Sketching</h3>
    <a href="#register" class="events-item-register">Register</a>
   </li>
   <li class="events-list-item">
    <img src="./images/events/event-2.jpg" alt="Floral Focus: Painting Wildflowers event" class="events-list-item-img"
     srcset="./images/events/event-2.jpg 1x, ./images/events/event-2@2x.jpg 2x" width="311" height="225">
    <div class="event-location-wrapper">
     <div class="events-item-location">
      <svg class="events-item-pin-icon" width="16" height="20">
       <use href="sprite.svg#icon-location"></use>
      </svg>
      <a
       href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
       target="_blank" rel="noopener noreferrer" class="events-item-place">Riverside Botanical Trail</a>
     </div>
     <p class="events-item-time">10 Jun 5:00 pm</p>
    </div>
    <h3 class="events-item-title">Floral Focus: Painting Wildflowers</h3>
    <a href="#register" class="events-item-register">Register</a>
   </li>
   <li class="events-list-item">
    <img src="./images/events/event-3.jpg" alt="Color & Composition Basics event" class="events-list-item-img"
     srcset="./images/events/event-3.jpg 1x, ./images/events/event-3@2x.jpg 2x" width="311" height="225">
    <div class="event-location-wrapper">
     <div class="events-item-location">
      <svg class="events-item-pin-icon" width="16" height="20">
       <use href="sprite.svg#icon-location"></use>
      </svg>
      <a
       href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
       target="_blank" rel="noopener noreferrer" class="events-item-place">Forest Edge Retreat</a>
     </div>
     <p class="events-item-time">11 Jun 7:00 pm</p>
    </div>
    <h3 class="events-item-title">Color & Composition Basics</h3>
    <a href="#register" class="events-item-register">Register</a>
   </li>
   <li class="events-list-item">
    <img src="./images/events/event-4.jpg" alt="Drawing Stillness: Meditative Sketching event"
     class="events-list-item-img" srcset="./images/events/event-4.jpg 1x, ./images/events/event-4@2x.jpg 2x" width="311"
     height="225">
    <div class="event-location-wrapper">
     <div class="events-item-location">
      <svg class="events-item-pin-icon" width="16" height="20">
       <use href="sprite.svg#icon-location"></use>
      </svg>
      <a
       href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
       target="_blank" rel="noopener noreferrer" class="events-item-place">Willow Grove Field</a>
     </div>
     <p class="events-item-time">14 Jun 8:00 pm</p>
    </div>
    <h3 class="events-item-title">Drawing Stillness: Meditative Sketching</h3>
    <a href="#register" class="events-item-register">Register</a>
   </li>
   <li class="events-list-item">
    <img src="./images/events/event-5.jpg" alt="Golden Hour Landscape Study event" class="events-list-item-img"
     srcset="./images/events/event-5.jpg 1x, ./images/events/event-5@2x.jpg 2x" width="311" height="225">
    <div class="event-location-wrapper">
     <div class="events-item-location">
      <svg class="events-item-pin-icon" width="16" height="20">
       <use href="sprite.svg#icon-location"></use>
      </svg>
      <a
       href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
       target="_blank" rel="noopener noreferrer" class="events-item-place">Sunset Ridge Hilltop</a>
     </div>
     <p class="events-item-time">15 Jun 8:00 pm</p>
    </div>
    <h3 class="events-item-title">Golden Hour Landscape Study</h3>
    <a href="#register" class="events-item-register">Register</a>
   </li>
  </ul>
 </div>
</div>