<div class="events-section" id="events">
  <div class="container">
    <h2 class="events-title">Explore Our Upcoming Workshop Schedule</h2>

    <p class="events-descr">
      Join us for immersive plein air drawing workshops. Experience nature while
      honing your artistic skills.
    </p>

    <ul class="events-list">
      <li class="events-list-item">
        <img
          src="./images/events/event-1.png"
          alt="Morning Light Sketching event"
          class="events-list-item-img"
          srcset="
            ./images/events/event-1_tab.png    144w,
            ./images/events/event-1_tab@2x.png 288w,
            ./images/events/event-1.png        311w,
            ./images/events/event-1@2x.png     622w
          "
          sizes="(max-width: 767px) 311px, 144px"
          width="311"
          height="225"
        />

        <div class="event-location-wrapper">
          <div class="events-item-location">
            <svg
              class="events-item-pin-icon"
              width="16"
              height="20"
              aria-hidden="true"
            >
              <use href="./sprite.svg#icon-location"></use>
            </svg>

            <a
              href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="events-item-place"
            >
              Central Park Meadow
            </a>
          </div>

          <p class="events-item-time">09 Jun 8:00 am</p>
        </div>

        <h3 class="events-item-title">Morning Light Sketching</h3>

        <a href="#register" class="events-item-register">Register</a>
      </li>

      <li class="events-list-item">
        <img
          src="./images/events/event-2.png"
          alt="Floral Focus: Painting Wildflowers event"
          class="events-list-item-img"
          srcset="
            ./images/events/event-2_tab.png    144w,
            ./images/events/event-2_tab@2x.png 288w,
            ./images/events/event-2.png        311w,
            ./images/events/event-2@2x.png     622w
          "
          sizes="(max-width: 767px) 311px, 144px"
          width="311"
          height="225"
        />

        <div class="event-location-wrapper">
          <div class="events-item-location">
            <svg
              class="events-item-pin-icon"
              width="16"
              height="20"
              aria-hidden="true"
            >
              <use href="./sprite.svg#icon-location"></use>
            </svg>

            <a
              href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="events-item-place"
            >
              Riverside Botanical Trail
            </a>
          </div>

          <p class="events-item-time">10 Jun 5:00 pm</p>
        </div>

        <h3 class="events-item-title">Floral Focus: Painting Wildflowers</h3>

        <a href="#register" class="events-item-register">Register</a>
      </li>

      <li class="events-list-item">
        <img
          src="./images/events/event-3.png"
          alt="Color & Composition Basics event"
          class="events-list-item-img"
          srcset="
            ./images/events/event-3_tab.png    144w,
            ./images/events/event-3_tab@2x.png 288w,
            ./images/events/event-3.png        311w,
            ./images/events/event-3@2x.png     622w
          "
          sizes="(max-width: 767px) 311px, 144px"
          width="311"
          height="225"
        />

        <div class="event-location-wrapper">
          <div class="events-item-location">
            <svg
              class="events-item-pin-icon"
              width="16"
              height="20"
              aria-hidden="true"
            >
              <use href="./sprite.svg#icon-location"></use>
            </svg>

            <a
              href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="events-item-place"
            >
              Forest Edge Retreat
            </a>
          </div>

          <p class="events-item-time">11 Jun 7:00 pm</p>
        </div>

        <h3 class="events-item-title">Color &amp; Composition Basics</h3>

        <a href="#register" class="events-item-register">Register</a>
      </li>

      <li class="events-list-item">
        <img
          src="./images/events/event-4.png"
          alt="Drawing Stillness: Meditative Sketching event"
          class="events-list-item-img"
          srcset="
            ./images/events/event-4_tab.png    144w,
            ./images/events/event-4_tab@2x.png 288w,
            ./images/events/event-4.png        311w,
            ./images/events/event-4@2x.png     622w
          "
          sizes="(max-width: 767px) 311px, 144px"
          width="311"
          height="225"
        />

        <div class="event-location-wrapper">
          <div class="events-item-location">
            <svg
              class="events-item-pin-icon"
              width="16"
              height="20"
              aria-hidden="true"
            >
              <use href="./sprite.svg#icon-location"></use>
            </svg>

            <a
              href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="events-item-place"
            >
              Willow Grove Field
            </a>
          </div>

          <p class="events-item-time">14 Jun 8:00 pm</p>
        </div>

        <h3 class="events-item-title">
          Drawing Stillness: Meditative Sketching
        </h3>

        <a href="#register" class="events-item-register">Register</a>
      </li>

      <li class="events-list-item">
        <img
          src="./images/events/event-5.png"
          alt="Golden Hour Landscape Study event"
          class="events-list-item-img"
          srcset="
            ./images/events/event-5_tab.png    144w,
            ./images/events/event-5_tab@2x.png 288w,
            ./images/events/event-5.png        311w,
            ./images/events/event-5@2x.png     622w
          "
          sizes="(max-width: 767px) 311px, 144px"
          width="311"
          height="225"
        />

        <div class="event-location-wrapper">
          <div class="events-item-location">
            <svg
              class="events-item-pin-icon"
              width="16"
              height="20"
              aria-hidden="true"
            >
              <use href="./sprite.svg#icon-location"></use>
            </svg>

            <a
              href="https://www.google.com.ua/maps/@49.0263751,31.6175834,7z?hl=uk&entry=ttu&g_ep=EgoyMDI2MTAwNC4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              rel="noopener noreferrer"
              class="events-item-place"
            >
              Sunset Ridge Hilltop
            </a>
          </div>

          <p class="events-item-time">15 Jun 8:00 pm</p>
        </div>

        <h3 class="events-item-title">Golden Hour Landscape Study</h3>

        <a href="#register" class="events-item-register">Register</a>
      </li>
    </ul>
  </div>
</div>
