  <section id="gallery" class="gallery">
    <div class="container">
      <h2 class="gallery-title">Artistic Showcase</h2>
      <p class="gallery-text">Explore the creativity captured in our workshops.</p>
      <ul class="gallery-album">
        <li class="gallery-image">
          <img 
          src="../images/gallery/gallery-1.jpg" 
          srcset="../images/gallery/gallery-1.jpg 1x, ../images/gallery/gallery-1@2x.jpg 2x" 
          alt="nature"
          loading="lazy"
          >
        </li>
        <li class="gallery-image">
          <img 
          src="../images/gallery/gallery-2.jpg" 
          srcset="../images/gallery/gallery-2.jpg 1x, ../images/gallery/gallery-2@2x.jpg 2x" 
          alt="nature"
          loading="lazy"
          >
        </li>
        <li class="gallery-image">
          <img 
          src="../images/gallery/gallery-3.jpg" 
          srcset="../images/gallery/gallery-3.jpg 1x, ../images/gallery/gallery-3@2x.jpg 2x" 
          alt="nature"
          loading="lazy"
          >
        </li>
        <li class="gallery-image">
          <img 
          src="../images/gallery/gallery-4.jpg" 
          srcset="../images/gallery/gallery-4.jpg 1x, ../images/gallery/gallery-4@2x.jpg 2x" 
          alt="nature"
          loading="lazy"
          >
        </li>
        <li class="gallery-image">
          <img 
          src="../images/gallery/gallery-5.jpg" 
          srcset="../images/gallery/gallery-5.jpg 1x, ../images/gallery/gallery-5@2x.jpg 2x" 
          alt="nature"
          loading="lazy"
          >
        </li>
        <li class="gallery-image">
          <img 
          src="../images/gallery/gallery-6.jpg" 
          srcset="../images/gallery/gallery-6.jpg 1x, ../images/gallery/gallery-6@2x.jpg 2x" 
          alt="nature"
          loading="lazy"
          >
        </li>
        <li class="gallery-image">
          <img 
          src="../images/gallery/gallery-7.jpg" 
          srcset="../images/gallery/gallery-7.jpg 1x, ../images/gallery/gallery-7@2x.jpg 2x" 
          alt="nature"
          loading="lazy"
          >
        </li>
      </ul>
    </div>
    </section>