<section id="hero" class="hero">
    <div class="hero-content">
        <div class="hero-info">
            <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
            <p class="hero-text">Join us for an inspiring plein air drawing workshop where art meets nature. Experience the joy of sketching outdoors
            while enhancing your skills in light and composition.</p>

            <div class="hero-buttons">
                <a class="hero-btn hero-btn-rg" href="#register">Register</a>
                <a class="hero-btn hero-btn-lm" href="#events">Learn More</a>
            </div>
        </div>

        <img class="hero-img" srcset="./images/hero/hero.png 1x, ./images/hero/hero@2x.png 2x" src="./images/hero/hero.png" alt="House and trees">
    </div>
</section>