<div id="mobile-menu" class="mobile-menu">
  <div class="container mobile-menu-container">
    <div class="mobile-menu-top">
      <a
        class="mobile-menu-logo"
        href="./index.html"
        aria-label="Wild Sketch home"
      >
        <img
          class="mobile-menu-logo-img"
          src="./images/icons/logo.svg"
          alt="Wild Sketch"
        />
      </a>

      <div class="mobile-menu-actions">
        <a class="mobile-menu-register" href="#register">Register</a>

        <button
          class="mobile-menu-close"
          type="button"
          aria-label="Close navigation menu"
        >
          <svg
            class="mobile-menu-close-icon"
            width="12"
            height="12"
            aria-hidden="true"
          >
            <use href="./sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>

    <nav class="mobile-menu-nav" aria-label="Mobile navigation">
      <ul class="mobile-menu-list">
        <li>
          <a class="mobile-menu-link" href="#benefits">Benefits</a>
        </li>

        <li>
          <a class="mobile-menu-link" href="#gallery">Gallery</a>
        </li>

        <li>
          <a class="mobile-menu-link" href="#events">Events</a>
        </li>

        <li>
          <a class="mobile-menu-link" href="#team">Team</a>
        </li>

        <li>
          <a class="mobile-menu-link" href="#feedbacks">Feedbacks</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
