<!--Register section-->
<section class="register section" id="register">
    <div class="container">
        <div class="content">
            <h2 class="section-title">Register</h2>
            <form class="modal-form" name="register_form">
                <div class="modal-form-field">
                    <label class="modal-form-label" for="user_name">Name*</label>
                    <input class="modal-form-input" type="text" id="user_name" name="user_name" placeholder="Emma"
                        required minlength="2" pattern="^[a-zA-Z\s\.]{5,64}$"
                        title="Username must be from 5 to 64 simbols.">
                    <p class="error">Error text</p>
                </div>
                <div class="modal-form-field">
                    <label class="modal-form-label" for="user_email">Email*</label>
                    <input class="modal-form-input" type="email" id="user_email" name="user_email"
                        placeholder="hello@wildsketch.com" required
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="@ expected">
                    <p class="error">Error text</p>
                </div>
                <div class="modal-form-field">
                    <label class="modal-form-label" for="user_comment">Describe your skills</label>
                    <textarea class="modal-form-comment" cols="4" id="user_comment" name="user_comment"
                        placeholder="Type your skills..." maxlength="500"></textarea>
                </div>
                <button class="modal-form-btn" type="submit">Register</button>
            </form>
        </div>
        <img class="modal-form-img" srcset="./images/register/register.jpg 1x, ./images/register/register@2x.jpg 2x"
            src="./images/register/register.jpg" alt="quotoutdoor-art-class-with-students-painting-naturequot"
            width="335" height="286" loading="lazy">
    </div>

</section>